h1{
font-size:28px;
}

h2{
margin-top:25px;
font-size:20px;
}

h3{
font-size:18px;
}

button{
background-color:#CFCFCF;
border: 2px #e0dacf outset;
}

label{
margin: 0 1em 10px 0;
}

input{
background-color:#FFFFFF;
border: #CFCFCF solid 1px;
}

form{
margin-top:25px;
width:100%;
text-align:center;
}

a{
color:#000000;
font-size:100%;
text-decoration:none;
font-style:italic;
}

a:visited{
text-decoration:line-through;
}

a:hover{
text-decoration:none;
background-color:#000000;
color:#ffffff;
text-decoration:none;
}

p{
text-align:justify;
}

ul{
text-align:justify;
list-style:none;
}

body{
background-color:#FFFFFF;
margin:0;
padding:1px;
color:#000000;
font-family:Arial,Times,sans-serif;
font-size:90%;
}

#bandeau{
background-color:#CFCFCF;
color:#FFFFFF;
position:absolute;
z-index:0;
margin:0;
top:0;
left:0;
width:100%;
}

#bandeau2{
color:#FFFFFF;
position:absolute;
z-index:1;
margin:0;
top:0;
right:0;
}

#lignebandeau2{
text-align:right;
}

#titre{
position:absolute;
z-index:2;
top:0;
left:50px;
font-weight:bold;
}

#soustitre{
position:absolute;
z-index:2;
top:40px;
font-size:17px;
right:50px;
font-weight:bold;
}

#corp{
width:96%;
position:absolute;
top:110px;
margin:2%;
}

#bouton1{
position:absolute;
top:130px;
right:10px;
border:1px solid #000000;
}

#bouton2{
position:absolute;
top:150px;
right:10px;
border:1px solid #000000;
}


.w3c{
font-size:10px;
height:12px;
font-weight:bold;
color:#174DA2;
background-color:#FFFFFF;
}

.html{
font-size:10px;
height:12px;
font-weight:bold;
color:#000000;
background-color:#ffcc66;
}

.col1{
float:left;
margin:10px;
background-color:#CFCFCF;
width:47%;
}

.col2{
float:right;
margin:10px;
background-color:#CFCFCF;
width:47%;
}
