
h2{
margin-top:25px;
font-size:20px;
}

h3{
font-size:18px;
}

button{
background-color:#CFCFCF;
border: 2px #e0dacf outset;
}

img{
border:2px solid #000000;
}

label{
margin: 0 1em 10px 0;
}

input{
background-color:#FFFFFF;
border: #CFCFCF solid 1px;
}

form{
margin-top:25px;
width:100%;
text-align:center;
}

a{
text-decoration:none;
font-style:normal;
color:#000000;
}

a:hover{
text-decoration:none;
font-style:normal;
}

p{
text-align:justify;
}

ul{
text-align:justify;
list-style:none;
}

body{
background-color:#FFFFFF;
margin:0;
padding:1px;
color:#000000;
font-family:Arial,Times,sans-serif;
font-size:90%;
}

#titre{
position:absolute;
z-index:1;
left:30px;
font-weight:bold;
color:#CCCCCC;
font-size:48px;
}

#soustitre{
color:#000000;
position:absolute;
z-index:2;
top:30px;
font-size:27px;
left:150px;
font-weight:bold;
}

#corp{
width:96%;
position:absolute;
top:90px;
margin:2%;
}

#bouton1{
position:absolute;
top:20px;
right:10px;
border:1px solid #000000;
}

#bouton2{
position:absolute;
top:40px;
right:10px;
border:1px solid #000000;
}

#bouton3{
position:absolute;
top:60px;
right:10px;
border:1px solid #000000;
}

.w3c{
font-size:10px;
height:12px;
font-weight:bold;
color:#174DA2;
background-color:#FFFFFF;
}

.boite{
text-align:center;
float:left;
width:250px;
height:200px;
}

.commentaireimg{
font-size:10px;
}

.tbs{
font-size:10px;
height:12px;
font-weight:bold;
color:#FFFFFF;
background-color:#336699;
}

.html{
font-size:10px;
height:12px;
font-weight:bold;
color:#000000;
background-color:#ffcc66;
}

.template{
font-size:10px;
height:12px;
font-weight:bold;
color:#FFFFFF;
background-color:#898E79;
}

.col1{
float:left;
margin:10px;
width:47%;
border:1px solid #000000;
}

.col2{
float:right;
margin:10px;
width:47%;
border:1px solid #000000;
}

